html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sams-serif;
    font-weight: 400;
    line-height: 1.8em;


    
}

.pimg1{
    background-image: url(image1.png);
    min-height: 100%;
    
}

.pimg2{
    background-image: url(image2.png);
    min-height: 400px;
}

.pimg3{
    background-image: url(image3.png);
    min-height: 400px;
}

.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;

    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 8px;
    text-transform: uppercase;
}

.textbg
{
    background-color: rgba(17, 15, 15, 0.7);
    border-radius: 5px;
    color: white;
    padding: 20px;
justify-content: center;
align-items: center;
transition: 0.3s ease;
box-shadow: 0.3s ease;
    
}

.textbg:hover{
    transform: translateY(10px) scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0,0, 0.2);
    

}

.section{
padding: 50px 80px;
text-align: center;
}

.sectionlight h2{
    color: rgb(38, 37, 37);
    text-transform: uppercase;
    word-spacing: 8px;
    letter-spacing: 2px;
}

.sectiondark p{
    color: rgb(120, 117, 117);
    letter-spacing: 1.2px;
    word-spacing: 1.7px;
}

.sectiondark h2{
    color: rgb(159, 156, 156);
    text-transform: uppercase;
    word-spacing: 8px;
    letter-spacing: 2px;
}

.sectionlight p{
    color: rgb(38, 37, 37);
    letter-spacing: 1.2px;
    word-spacing: 1.7px;
}

.sectiondark{

 background-color:rgb(41, 39, 39);

}

.sectionlight{
    background-color:rgb(214, 211, 211) ;
   }

   .textbgm {
    background-color: rgba(17, 15, 15, 0.7);
    border-radius: 5px;
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    box-shadow: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.plaintext {
    background-color: transparent;
    padding: 0; 
    margin-top: 10px;
    font-size: 0.8em; 
    color: white;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}